<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto|Rubik&display=swap" rel="stylesheet">
<div class="main-container">
  <section class="space-sm">
    <div class="container align-self-start">
      <!--end of row-->
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">
          <div class="card card-lg text-center">
            <div class="card-body">
              <div class="mb-5">
                <h1 class="h2 mb-2">Iniciar Sesión en Mikvo</h1>
                <span>Ingrese a su cuenta para continuar</span>
              </div>
              <div class="row no-gutters justify-content-center">
                <form class="text-left col-lg-8">
                  <div class="form-group">
                    <label for="login-email">Correo electrónico</label>
                    <input class="form-control form-control-lg" type="email" name="email" id="login-email"
                      placeholder="Email" />
                  </div>
                  <div class="form-group">
                    <label for="login-password">Contraseña</label>
                    <input class="form-control form-control-lg" type="password" name="password" id="login-password"
                      placeholder="Password" />
                    <small>¿Olvidó la contraseña? <a href="#">Haga clic aquí</a>
                    </small>
                  </div>
                  <div class="text-center mt-3">
                    <button type="submit" class="btn btn-lg btn-primary">Ingresar</button>
                  </div>
                </form>
              </div>
              <!--end of row-->
            </div>
          </div>
          <div class="text-center">
            <span class="text-small">¿Aún no tienes una cuenta?<a href="#">Crear cuenta</a>
            </span>
          </div>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->
</div>
